body {
    margin: 0;
    position: relative;
width: 575px;
height: 385px;
background: #1B244A;
}

.container {
    display: flex;
    justify-content: space-around
}

h3 {
    position: absolute;
width: 850px;
height: 36px;
left: 6px;
top: 80px;

font-family: 'Verdana';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 36px;
color: #EEEEEE;
text-align: center;
}
h4 {
    position: absolute;
width: 889px;
height: 36px;
left: 340px;
top: 66px;

font-family: 'Verdana';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 36px;
color: #EEEEEE;
text-align: center;
}
#homescore {
    position: absolute;
width: 117px;
height: 120px;
left: 375px;
top: 125px;

font-family: Cursed Timer ULiL;
font-style: normal;
font-weight: 400;
font-size: 90px;
line-height: 127px;
text-align: center;
color: #F94F6D;
background-color: black

}
#guestscore {
    position: absolute;
width: 117px;
height: 120px;
left: 730px;
top: 125px;
font-family: 'Cursed Timer ULiL';
font-style: normal;
font-weight: 400;
font-size: 90px;
line-height: 127px;
text-align: center;
color: #F94F6D;
background-color: black;
}
#home-btn1 {
     position: absolute;
 height: 45px;
width: 45px;
left: 320px;
top: 350px;
border-radius: 5px;
border: 2px solid rgba(154, 171, 216, 1)
}
#home-btn2 {
         position: absolute;
 height: 45px;
width: 45px;
left: 415px;
top: 350px;
border-radius: 5px;
border: 2px solid rgba(154, 171, 216, 1)
}
#home-btn3 {
         position: absolute;
 height: 45px;
width: 45px;
left: 510px;
top: 350px;
border-radius: 5px;
border: 2px solid rgba(154, 171, 216, 1)
}
#guest-btn1 {
     position: absolute;
width: 45px;
height: 45px;
left: 670px;
top: 350px;
border-radius: 5px;
border: 2px solid rgba(154, 171, 216, 1)
}
#guest-btn2 {
     position: absolute;
width: 45px;
height: 45px;
left: 765px;
top: 350px;
border-radius: 5px;
border: 2px solid rgba(154, 171, 216, 1)
}
#guest-btn3 {
     position: absolute;
width: 45px;
height: 45px;
left: 855px;
top: 350px;
border-radius: 5px;
border: 2px solid rgba(154, 171, 216, 1)
}
#newgame-btn {
         position: absolute;
    height: 45px;
width: 250px;
left: 475px;
top: 500px;
border-radius: 5px;

}
